-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: concentrados
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `idAuditoria` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Campo idAuditoria en tabla auditoria',
  `idUsuario` int(11) DEFAULT NULL COMMENT 'ID del usuario que ejecutó la acción auditada (FK usuarios)',
  `username` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nombre de usuario o correo de quien realizó la acción',
  `tipo_evento` enum('login','logout','vista','modulo','crud','error','sistema') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sistema' COMMENT 'Campo tipo_evento en tabla auditoria',
  `modulo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Módulo o sección del sistema donde se originó el evento',
  `descripcion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Detalle descriptivo del evento o cambio realizado',
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo ip_address en tabla auditoria',
  `user_agent` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo user_agent en tabla auditoria',
  `fecha_hora` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Campo fecha_hora en tabla auditoria',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa/tenant asociada a la acción auditada',
  PRIMARY KEY (`idAuditoria`),
  KEY `idx_usuario` (`idUsuario`),
  KEY `idx_tipo` (`tipo_evento`),
  KEY `idx_fecha` (`fecha_hora`),
  KEY `idx_modulo` (`modulo`),
  KEY `idx_auditoria_empresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=719 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallecompra`
--

DROP TABLE IF EXISTS `detallecompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallecompra` (
  `idDetalleCompra` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del ítem en el detalle de compra',
  `idMateriaPrima` int(11) NOT NULL COMMENT 'ID de la materia prima adquirida (FK materiaprima)',
  `cantidadMP` int(11) DEFAULT NULL COMMENT 'Campo cantidadMP en tabla detallecompra',
  `precioMP` double DEFAULT NULL COMMENT 'Campo precioMP en tabla detallecompra',
  `idFacturaMP` int(11) NOT NULL COMMENT 'Campo idFacturaMP en tabla detallecompra',
  PRIMARY KEY (`idDetalleCompra`),
  KEY `fk_detalleCompra_comprasPrima1` (`idFacturaMP`),
  KEY `fk_detalleCompra_materiaPrima1` (`idMateriaPrima`)
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallecompra`
--

LOCK TABLES `detallecompra` WRITE;
/*!40000 ALTER TABLE `detallecompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallecompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallepedido`
--

DROP TABLE IF EXISTS `detallepedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallepedido` (
  `idDetallePedido` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único de la línea de detalle del pedido',
  `cantidad` int(11) DEFAULT NULL COMMENT 'Cantidad de sacos o unidades solicitadas',
  `idReceta` int(11) NOT NULL COMMENT 'Campo idReceta en tabla detallepedido',
  `IdPedido` int(11) NOT NULL COMMENT 'Campo IdPedido en tabla detallepedido',
  PRIMARY KEY (`idDetallePedido`),
  KEY `fk_detallePedido_Pedido1` (`IdPedido`),
  KEY `fk_detallePedido_Receta1` (`idReceta`)
) ENGINE=InnoDB AUTO_INCREMENT=391415 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallepedido`
--

LOCK TABLES `detallepedido` WRITE;
/*!40000 ALTER TABLE `detallepedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallepedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallereceta`
--

DROP TABLE IF EXISTS `detallereceta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallereceta` (
  `idDetalleReceta` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del ingrediente dentro de la receta',
  `idMateriaPrima` int(11) NOT NULL COMMENT 'ID de la materia prima utilizada en la mezcla (FK materiaprima)',
  `cantidaSa` int(11) DEFAULT NULL COMMENT 'Campo cantidaSa en tabla detallereceta',
  `fechaSa` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo fechaSa en tabla detallereceta',
  `idInventario` int(11) NOT NULL COMMENT 'Campo idInventario en tabla detallereceta',
  `IdReceta` int(11) NOT NULL COMMENT 'Campo IdReceta en tabla detallereceta',
  PRIMARY KEY (`idDetalleReceta`),
  KEY `fk_Kardex_Inventario1` (`idInventario`),
  KEY `fk_Kardex_materiaPrima1` (`idMateriaPrima`),
  KEY `fk1` (`IdReceta`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallereceta`
--

LOCK TABLES `detallereceta` WRITE;
/*!40000 ALTER TABLE `detallereceta` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallereceta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleado` (
  `idEmpleado` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental del empleado',
  `nombreEmp` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Nombres del colaborador',
  `apellido` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Apellidos del colaborador',
  `genero` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo genero en tabla empleado',
  `idPuesto` int(11) NOT NULL COMMENT 'ID del puesto o cargo laboral asignado (FK puesto)',
  `idUsuario` int(11) NOT NULL COMMENT 'ID de cuenta de usuario asociada al empleado (FK usuarios)',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Campo activo en tabla empleado',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa en la que labora el empleado (FK empresas)',
  PRIMARY KEY (`idEmpleado`),
  KEY `fk_Empleado_puesto1` (`idPuesto`),
  KEY `fk_empleado_Usuarios1` (`idUsuario`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=391210 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresa_info`
--

DROP TABLE IF EXISTS `empresa_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa_info` (
  `idEmpresa` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Campo idEmpresa en tabla empresa_info',
  `nombre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Concentrados El Gordito' COMMENT 'Nombre comercial oficial de la empresa',
  `eslogan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Nutrición Animal de Alto Rendimiento' COMMENT 'Lema o eslogan corporativo',
  `resumen` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Resumen descriptivo de la trayectoria y propuesta de valor',
  `mision` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Declaración de misión corporativa',
  `vision` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Declaración de visión corporativa a futuro',
  `telefono` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '+503 2440-1234' COMMENT 'Número de teléfono fijo o PBX principal',
  `telefono_movil` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '+503 7890-5678' COMMENT 'Número de teléfono móvil de contacto adicional',
  `whatsapp` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '+50378905678' COMMENT 'Número de WhatsApp oficial con código de país',
  `correo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'ventas@concentradoselgordito.com' COMMENT 'Correo electrónico oficial de atención al cliente',
  `direccion` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Carretera Panamericana Km 65, El Salvador' COMMENT 'Dirección física de la planta principal y salas de venta',
  `horario` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Lunes a Viernes: 7:00 AM – 5:00 PM | Sábados: 7:00 AM – 12:00 MD' COMMENT 'Texto con los días y horarios de atención al público',
  `logo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'views/Recursos/logo.png' COMMENT 'Campo logo en tabla empresa_info',
  `facebook` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'https://facebook.com' COMMENT 'URL de la página de Facebook oficial',
  `instagram` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'https://instagram.com' COMMENT 'URL del perfil de Instagram oficial',
  `actualizado_en` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Campo actualizado_en en tabla empresa_info',
  PRIMARY KEY (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresa_info`
--

LOCK TABLES `empresa_info` WRITE;
/*!40000 ALTER TABLE `empresa_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresa_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresas` (
  `idEmpresa` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental de la empresa o comercio',
  `idUsuarioDueno` int(11) NOT NULL DEFAULT 0 COMMENT 'ID del usuario dueño o administrador principal de la empresa (FK usuarios)',
  `idRubro` int(11) NOT NULL DEFAULT 1 COMMENT 'ID del rubro o sector comercial al que pertenece la empresa (FK rubros)',
  `nombreEmpresa` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Razón social o nombre comercial visible del negocio',
  `slug` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Identificador alfanumérico único para subdominios o URL (ej: santaelena)',
  `direccion` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Dirección física de la sede, planta o sucursal principal',
  `telefono` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Número telefónico fijo o PBX de atención al cliente',
  `correo` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Correo electrónico oficial para notificaciones y pedidos',
  `whatsapp` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Número de WhatsApp directo con código de país para atención rápida',
  `logo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ruta relativa de la imagen o logotipo del comercio',
  `wompiAppId` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID de aplicación (Client ID / App ID) de la pasarela Wompi SV del comercio',
  `wompiApiKey` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Clave secreta (API Secret Key) de Wompi SV para autenticar cobros directos',
  `wompiActivo` tinyint(1) DEFAULT 0 COMMENT 'Estado de la pasarela Wompi del negocio: 1 = Habilitada, 0 = Deshabilitada',
  `activo` tinyint(1) DEFAULT 1 COMMENT 'Estado operativo del comercio en la plataforma: 1 = Activo, 0 = Suspendido',
  `fechaRegistro` datetime DEFAULT current_timestamp() COMMENT 'Fecha y hora exacta en la que se registró la empresa en el sistema',
  PRIMARY KEY (`idEmpresa`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idUsuarioDueno` (`idUsuarioDueno`),
  KEY `slug_2` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estadopedido`
--

DROP TABLE IF EXISTS `estadopedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estadopedido` (
  `idEstadoPedido` int(11) NOT NULL COMMENT 'Identificador único del estado de pedido',
  `nombreEstado` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Nombre descriptivo del estado (ej: Pendiente, Pagado, Despachado, Cancelado)',
  PRIMARY KEY (`idEstadoPedido`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estadopedido`
--

LOCK TABLES `estadopedido` WRITE;
/*!40000 ALTER TABLE `estadopedido` DISABLE KEYS */;
INSERT INTO `estadopedido` VALUES (1,'Pendiente'),(2,'En Proceso'),(3,'Completado'),(4,'Cancelado');
/*!40000 ALTER TABLE `estadopedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factura`
--

DROP TABLE IF EXISTS `factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `factura` (
  `idFacturaMP` int(11) NOT NULL COMMENT 'Campo idFacturaMP en tabla factura',
  `numeroFac` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo numeroFac en tabla factura',
  `Monto` int(11) DEFAULT NULL COMMENT 'Campo Monto en tabla factura',
  `Fecha` varchar(50) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo Fecha en tabla factura',
  `idProveedor` int(11) NOT NULL COMMENT 'Campo idProveedor en tabla factura',
  `idEmpleado` int(11) NOT NULL COMMENT 'Campo idEmpleado en tabla factura',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa emisora del documento fiscal (FK empresas)',
  PRIMARY KEY (`idFacturaMP`),
  KEY `fk_Factura_Empleado1` (`idEmpleado`),
  KEY `fk_materiaPrima_Proveedor1` (`idProveedor`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factura`
--

LOCK TABLES `factura` WRITE;
/*!40000 ALTER TABLE `factura` DISABLE KEYS */;
/*!40000 ALTER TABLE `factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historico_precios_promociones`
--

DROP TABLE IF EXISTS `historico_precios_promociones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historico_precios_promociones` (
  `idHistorico` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del registro histórico',
  `idReceta` int(11) NOT NULL COMMENT 'Campo idReceta en tabla historico_precios_promociones',
  `tipo_cambio` enum('nivelacion','promocion') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'nivelacion' COMMENT 'Campo tipo_cambio en tabla historico_precios_promociones',
  `precio_anterior` decimal(10,2) NOT NULL COMMENT 'Campo precio_anterior en tabla historico_precios_promociones',
  `precio_nuevo` decimal(10,2) NOT NULL COMMENT 'Campo precio_nuevo en tabla historico_precios_promociones',
  `porcentaje_descuento` int(11) DEFAULT 0 COMMENT 'Campo porcentaje_descuento en tabla historico_precios_promociones',
  `fecha_inicio` datetime DEFAULT NULL COMMENT 'Campo fecha_inicio en tabla historico_precios_promociones',
  `fecha_fin` datetime DEFAULT NULL COMMENT 'Campo fecha_fin en tabla historico_precios_promociones',
  `motivo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Razón o justificación del cambio de precio o campaña',
  `usuario` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin' COMMENT 'Campo usuario en tabla historico_precios_promociones',
  `estado` enum('activa','finalizada','cancelada','aplicada') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'aplicada' COMMENT 'Campo estado en tabla historico_precios_promociones',
  `creado_en` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Campo creado_en en tabla historico_precios_promociones',
  PRIMARY KEY (`idHistorico`),
  KEY `idx_receta` (`idReceta`),
  KEY `idx_estado` (`estado`),
  KEY `idx_fechas` (`fecha_inicio`,`fecha_fin`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historico_precios_promociones`
--

LOCK TABLES `historico_precios_promociones` WRITE;
/*!40000 ALTER TABLE `historico_precios_promociones` DISABLE KEYS */;
/*!40000 ALTER TABLE `historico_precios_promociones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

DROP TABLE IF EXISTS `inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario` (
  `idInventario` int(11) NOT NULL COMMENT 'Identificador único y autoincremental del producto terminado',
  `idMateriaPrima` int(11) NOT NULL COMMENT 'Campo idMateriaPrima en tabla inventario',
  `Existencias` double DEFAULT NULL COMMENT 'Campo Existencias en tabla inventario',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa dueña del producto en inventario (FK empresas)',
  PRIMARY KEY (`idInventario`),
  KEY `fk_Inventario_materiaPrima1` (`idMateriaPrima`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
INSERT INTO `inventario` VALUES (2,6,2913,1),(3,8,4726,1),(4,15,81,1),(5,8,2326,1),(6,1,2120,1),(7,6,94,1),(8,11,3423,1),(9,17,3449,1),(10,13,4663,1),(11,13,195,1),(12,7,1536,1),(13,3,4030,1),(14,15,1858,1),(15,11,4377,1),(16,18,3658,1),(17,15,4472,1),(18,13,3912,1),(19,7,2485,1),(20,3,710,1);
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiaprima`
--

DROP TABLE IF EXISTS `materiaprima`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materiaprima` (
  `idMateriaPrima` int(11) NOT NULL COMMENT 'Identificador único de la materia prima o insumo',
  `NombreMP` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo NombreMP en tabla materiaprima',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa propietaria de la materia prima (FK empresas)',
  PRIMARY KEY (`idMateriaPrima`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiaprima`
--

LOCK TABLES `materiaprima` WRITE;
/*!40000 ALTER TABLE `materiaprima` DISABLE KEYS */;
INSERT INTO `materiaprima` VALUES (1,'Maiz Amarillo',1),(2,'Maiz Blanco',1),(3,'Soya',1),(4,'Harina',1),(5,'Maicillo',1),(6,'Trigo',1),(7,'Avena',1),(8,'Sorgo',1),(9,'Cebada',1),(10,'Centeno',1),(11,'Arroz',1),(12,'Sal',1),(13,'Azucar',1),(14,'Aceite',1),(15,'Vitaminas',1),(16,'Minerales',1),(17,'Fosfatos',1),(18,'Calcio',1),(19,'Fibra',1),(20,'Melaza',1);
/*!40000 ALTER TABLE `materiaprima` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modulos`
--

DROP TABLE IF EXISTS `modulos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modulos` (
  `idModulo` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del módulo del sistema',
  `nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre visible del módulo en el menú lateral',
  `controlador` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Archivo controlador PHP asociado al módulo',
  `icono` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'fa-folder' COMMENT 'Clase de icono FontAwesome para representación gráfica',
  `orden` int(11) NOT NULL DEFAULT 0 COMMENT 'Número de orden jerárquico para visualización en el menú',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado del módulo: 1 = Activo, 0 = Desactivado',
  PRIMARY KEY (`idModulo`),
  UNIQUE KEY `controlador` (`controlador`),
  KEY `idx_controlador` (`controlador`),
  KEY `idx_activo` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modulos`
--

LOCK TABLES `modulos` WRITE;
/*!40000 ALTER TABLE `modulos` DISABLE KEYS */;
/*!40000 ALTER TABLE `modulos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos` (
  `idPago` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental de la transacción de pago',
  `idUsuario` int(11) NOT NULL COMMENT 'ID del usuario o comprador que realizó el pago (FK usuarios)',
  `idPlanPago` int(11) DEFAULT NULL COMMENT 'ID del plan de membresía contratado si aplica (FK plan_pago)',
  `monto` decimal(10,2) NOT NULL COMMENT 'Monto liquidado de la transacción en dólares (USD)',
  `moneda` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USD' COMMENT 'Campo moneda en tabla pagos',
  `metodo_pago` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'stripe' COMMENT 'Campo metodo_pago en tabla pagos',
  `estado` enum('pendiente','completado','fallido','reembolsado','cancelado') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente' COMMENT 'Estado del pago: pendiente, completado, fallido o cancelado',
  `referencia` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Código de referencia único de la transacción (ej: CONC-12345)',
  `descripcion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Descripción del concepto de cobro y datos de autorización',
  `fecha_hora` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Campo fecha_hora en tabla pagos',
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo ip_address en tabla pagos',
  `user_agent` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo user_agent en tabla pagos',
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Estructura JSON con los metadatos completos y respuesta de la pasarela Wompi',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa que recibe los fondos de la transacción (FK empresas)',
  PRIMARY KEY (`idPago`),
  KEY `idx_usuario` (`idUsuario`),
  KEY `idx_plan` (`idPlanPago`),
  KEY `idx_estado` (`estado`),
  KEY `idx_fecha` (`fecha_hora`),
  KEY `idx_referencia` (`referencia`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido`
--

DROP TABLE IF EXISTS `pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido` (
  `idPedido` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental del pedido',
  `fechaPedido` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Fecha y hora en que fue emitida la orden de compra',
  `idCliente` int(11) NOT NULL COMMENT 'ID del cliente comprador (FK cliente)',
  `idEstadoPedido` int(11) NOT NULL COMMENT 'Estado actual de la orden (FK estadopedido)',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa que vende y despacha la orden (FK empresas)',
  PRIMARY KEY (`idPedido`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=391113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido`
--

LOCK TABLES `pedido` WRITE;
/*!40000 ALTER TABLE `pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidoproveedor`
--

DROP TABLE IF EXISTS `pedidoproveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidoproveedor` (
  `idPedido` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental del pedido al proveedor',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa/tenant a la que pertenece el pedido a proveedor',
  `idProveedor` int(11) NOT NULL COMMENT 'Llave foránea que referencia al proveedor que surtirá el pedido',
  `idEmpleado` int(11) NOT NULL COMMENT 'Llave foránea que referencia al empleado responsable de emitir el pedido',
  `idMateriaPrima` int(11) NOT NULL COMMENT 'Llave foránea que referencia la materia prima solicitada',
  `fecha` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci NOT NULL COMMENT 'Fecha en que se emite la orden de compra o pedido (formato YYYY-MM-DD)',
  `cantidadMP` int(11) NOT NULL COMMENT 'Cantidad de unidades o sacos de materia prima solicitada',
  `monto` decimal(10,2) NOT NULL COMMENT 'Monto total monetario del pedido',
  `precioMP` decimal(10,2) NOT NULL COMMENT 'Precio unitario pactado por cada unidad de materia prima',
  PRIMARY KEY (`idPedido`),
  KEY `idx_pedidoprov_proveedor` (`idProveedor`),
  KEY `idx_pedidoprov_empleado` (`idEmpleado`),
  KEY `idx_pedidoprov_mp` (`idMateriaPrima`),
  KEY `idx_pedidoproveedor_empresa` (`idEmpresa`),
  CONSTRAINT `fk_pedidoprov_empleado` FOREIGN KEY (`idEmpleado`) REFERENCES `empleado` (`idEmpleado`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pedidoprov_mp` FOREIGN KEY (`idMateriaPrima`) REFERENCES `materiaprima` (`idMateriaPrima`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pedidoprov_proveedor` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidoproveedor`
--

LOCK TABLES `pedidoproveedor` WRITE;
/*!40000 ALTER TABLE `pedidoproveedor` DISABLE KEYS */;
INSERT INTO `pedidoproveedor` VALUES (1,1,391201,1,1,'2026-08-10',250,625.00,2.50),(2,1,391202,391102,2,'2026-08-14',180,450.00,2.50),(3,1,391203,391103,3,'2026-08-18',300,900.00,3.00),(4,1,391204,1,4,'2026-08-22',150,420.00,2.80),(5,1,391205,391102,5,'2026-08-26',200,520.00,2.60),(6,1,391201,391103,1,'2026-08-30',400,1000.00,2.50),(7,1,391202,1,3,'2026-09-02',350,1050.00,3.00),(8,1,391203,391102,2,'2026-09-04',220,550.00,2.50),(9,1,391204,391103,4,'2026-09-05',160,448.00,2.80),(10,1,391205,1,5,'2026-09-06',280,728.00,2.60);
/*!40000 ALTER TABLE `pedidoproveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos_rol`
--

DROP TABLE IF EXISTS `permisos_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos_rol` (
  `idPermiso` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único de la asignación de permiso',
  `id_Rol` int(11) NOT NULL COMMENT 'ID del rol receptor del permiso (FK rol)',
  `idModulo` int(11) NOT NULL COMMENT 'ID del módulo autorizado (FK modulos)',
  `permitido` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indicador de acceso: 1 = Permitido, 0 = Denegado',
  PRIMARY KEY (`idPermiso`),
  UNIQUE KEY `uk_rol_modulo` (`id_Rol`,`idModulo`),
  KEY `idx_rol_permitido` (`id_Rol`,`permitido`)
) ENGINE=InnoDB AUTO_INCREMENT=189 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos_rol`
--

LOCK TABLES `permisos_rol` WRITE;
/*!40000 ALTER TABLE `permisos_rol` DISABLE KEYS */;
/*!40000 ALTER TABLE `permisos_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos_submodulo`
--

DROP TABLE IF EXISTS `permisos_submodulo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos_submodulo` (
  `idPermisoSub` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Campo idPermisoSub en tabla permisos_submodulo',
  `id_Rol` int(11) NOT NULL COMMENT 'ID del rol receptor (FK rol)',
  `idSubmodulo` int(11) NOT NULL COMMENT 'ID del submódulo autorizado (FK submodulos)',
  `permitido` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indicador de acceso: 1 = Permitido, 0 = Denegado',
  PRIMARY KEY (`idPermisoSub`),
  UNIQUE KEY `uk_rol_submodulo` (`id_Rol`,`idSubmodulo`),
  KEY `idx_rol_sub_permitido` (`id_Rol`,`permitido`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos_submodulo`
--

LOCK TABLES `permisos_submodulo` WRITE;
/*!40000 ALTER TABLE `permisos_submodulo` DISABLE KEYS */;
INSERT INTO `permisos_submodulo` VALUES (1,1,1,1),(2,1,2,1),(3,1,3,1),(4,1,4,1),(5,1,5,1),(6,1,6,1),(7,1,7,1),(8,1,8,1),(9,1,9,1),(10,1,10,1),(11,1,11,1),(12,1,12,1),(13,1,13,1),(14,1,14,1),(15,1,15,1),(16,1,16,1),(17,1,17,1),(18,4,1,1),(19,4,2,1),(20,4,3,1),(21,4,4,1),(22,4,5,1),(23,4,6,1),(24,4,7,1),(25,4,8,1),(26,4,9,1),(27,4,10,1),(28,4,11,1),(29,4,12,1),(30,4,13,1),(31,4,14,1),(32,4,15,1),(33,4,16,1),(34,4,17,1),(35,2,1,1),(36,2,2,1),(37,2,4,1),(38,2,5,1),(39,2,6,1),(40,2,7,1),(41,2,8,1),(42,2,12,1),(43,2,13,1);
/*!40000 ALTER TABLE `permisos_submodulo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos_usuario_submodulo`
--

DROP TABLE IF EXISTS `permisos_usuario_submodulo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos_usuario_submodulo` (
  `idPermisoUserSub` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Campo idPermisoUserSub en tabla permisos_usuario_submodulo',
  `idUsuario` int(11) NOT NULL COMMENT 'ID del usuario al que se le concede o restringe el submódulo (FK usuarios)',
  `idSubmodulo` int(11) NOT NULL COMMENT 'ID del submódulo configurado (FK submodulos)',
  `permitido` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indicador de acceso individual: 1 = Permitido, 0 = Revocado',
  PRIMARY KEY (`idPermisoUserSub`),
  UNIQUE KEY `uk_usuario_submodulo` (`idUsuario`,`idSubmodulo`),
  KEY `idx_user_sub_permitido` (`idUsuario`,`permitido`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos_usuario_submodulo`
--

LOCK TABLES `permisos_usuario_submodulo` WRITE;
/*!40000 ALTER TABLE `permisos_usuario_submodulo` DISABLE KEYS */;
INSERT INTO `permisos_usuario_submodulo` VALUES (1,391101,1,1),(2,391101,5,1),(3,391008,5,1),(4,391008,3,1),(5,391009,13,1),(6,391009,11,1),(7,391010,1,1),(8,391010,6,1),(9,391011,15,1),(10,391011,7,1),(11,391012,8,1),(12,391012,16,1),(13,391013,2,1),(14,391013,9,1),(15,391014,8,1),(16,391014,1,1),(17,391015,2,1),(18,391016,2,1),(19,391017,2,1),(20,391018,2,1),(21,391019,16,1),(22,391020,15,1),(23,391021,11,1),(24,391022,14,1),(25,391023,17,1),(26,391024,15,1),(27,391025,5,1);
/*!40000 ALTER TABLE `permisos_usuario_submodulo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persona` (
  `idPersona` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental de la persona',
  `nombrePersona` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nombres de la persona',
  `apellidoPersona` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Apellidos de la persona',
  `telefono` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Número de teléfono de contacto del cliente',
  `edad` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo edad en tabla cliente',
  `genero` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo genero en tabla cliente',
  `idUsuario` int(11) NOT NULL COMMENT 'ID de usuario vinculado al cliente para acceso al portal (FK usuarios)',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa a cuya cartera pertenece el cliente (FK empresas)',
  PRIMARY KEY (`idPersona`),
  UNIQUE KEY `uq_persona_usuario_empresa` (`idUsuario`,`idEmpresa`),
  UNIQUE KEY `uq_persona_nombre_apellido_empresa` (`nombrePersona`,`apellidoPersona`,`idEmpresa`),
  KEY `fk_cliente_Usuarios1` (`idUsuario`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=391310 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_pago`
--

DROP TABLE IF EXISTS `plan_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan_pago` (
  `idPlanPago` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del plan de membresía',
  `nombrePlan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre del plan (ej: Básico, Profesional, Agro Industrial)',
  `descripcion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Detalle de beneficios, límites y módulos habilitados',
  `monto` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'Costo periódico de la membresía en USD',
  `duracion_dias` int(11) NOT NULL DEFAULT 30 COMMENT 'Duración del ciclo de suscripción en días (ej: 30, 365)',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado de comercialización del plan: 1 = Activo, 0 = Inactivo',
  `creado_en` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Campo creado_en en tabla plan_pago',
  `actualizado_en` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Campo actualizado_en en tabla plan_pago',
  PRIMARY KEY (`idPlanPago`),
  KEY `idx_activo` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_pago`
--

LOCK TABLES `plan_pago` WRITE;
/*!40000 ALTER TABLE `plan_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produccion`
--

DROP TABLE IF EXISTS `produccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produccion` (
  `idProduccion` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único de la orden de producción',
  `fechaP` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo fechaP en tabla produccion',
  `estadoP` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo estadoP en tabla produccion',
  `idPedido` int(11) NOT NULL COMMENT 'Campo idPedido en tabla produccion',
  `idEmpleado` int(11) NOT NULL COMMENT 'ID del operador o encargado de planta responsable (FK empleado)',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa que ejecuta la orden de producción (FK empresas)',
  PRIMARY KEY (`idProduccion`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=391381 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produccion`
--

LOCK TABLES `produccion` WRITE;
/*!40000 ALTER TABLE `produccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `produccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedor` (
  `idProveedor` int(11) NOT NULL COMMENT 'Identificador único del proveedor',
  `nombreProveedor` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Razón social o nombre comercial del proveedor',
  `contacto` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Nombre del representante o ejecutivo de ventas del proveedor',
  `NIT` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo NIT en tabla proveedor',
  `correoP` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo correoP en tabla proveedor',
  `telefono` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Teléfono de contacto de la empresa proveedora',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa asociada a este proveedor (FK empresas)',
  PRIMARY KEY (`idProveedor`),
  KEY `idx_idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puesto`
--

DROP TABLE IF EXISTS `puesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `puesto` (
  `idPuesto` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del puesto de trabajo',
  `nombrePuesto` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Título del cargo (ej: Administrador, Gerente de Planta, Vendedor, Molinero)',
  PRIMARY KEY (`idPuesto`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puesto`
--

LOCK TABLES `puesto` WRITE;
/*!40000 ALTER TABLE `puesto` DISABLE KEYS */;
INSERT INTO `puesto` VALUES (1,'Gerente General'),(2,'Jefe de Produccion'),(3,'Supervisor'),(4,'Operario'),(5,'Ventas'),(6,'Almacenista'),(7,'Contador'),(8,'Compras'),(9,'Calidad'),(10,'Logistica'),(11,'RRHH'),(12,'Sistemas');
/*!40000 ALTER TABLE `puesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receta`
--

DROP TABLE IF EXISTS `receta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `receta` (
  `idReceta` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único de la fórmula o receta',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa/tenant a la que pertenece el producto o receta',
  `nombreReceta` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Nombre de la fórmula (ej: Concentrado Postura Premium, Engorde Cerdos)',
  `categoriaRubro` varchar(100) DEFAULT 'General' COMMENT 'Categoría o sub-rubro específico del producto según el giro de la empresa',
  `PrecioUnitario` double NOT NULL COMMENT 'Campo PrecioUnitario en tabla receta',
  `precio_anterior` double DEFAULT NULL COMMENT 'Precio anterior antes de promoción o descuento',
  `en_promocion` tinyint(1) DEFAULT 0 COMMENT 'Campo en_promocion en tabla receta',
  `porcentaje_descuento` int(11) DEFAULT 0 COMMENT 'Campo porcentaje_descuento en tabla receta',
  `fecha_inicio_promo` datetime DEFAULT NULL COMMENT 'Fecha y hora de inicio de promoción para esta receta',
  `fecha_fin_promo` datetime DEFAULT NULL COMMENT 'Fecha y hora de fin de promoción para esta receta',
  `precio_base_regular` decimal(10,2) DEFAULT NULL COMMENT 'Precio base regular establecido para el lote',
  PRIMARY KEY (`idReceta`),
  KEY `idx_receta_empresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receta`
--

LOCK TABLES `receta` WRITE;
/*!40000 ALTER TABLE `receta` DISABLE KEYS */;
/*!40000 ALTER TABLE `receta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recuperacion_pass`
--

DROP TABLE IF EXISTS `recuperacion_pass`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recuperacion_pass` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del token de recuperación',
  `email` varchar(100) NOT NULL COMMENT 'Correo electrónico del usuario solicitante',
  `token` varchar(64) NOT NULL COMMENT 'Token criptográfico unívoco de un solo uso',
  `expiracion` datetime NOT NULL COMMENT 'Fecha y hora límite de validez del enlace (vigencia de 1 hora)',
  `usado` tinyint(1) DEFAULT 0 COMMENT 'Indicador de consumo del token: 1 = Consumido, 0 = Vigente',
  `creado_en` datetime DEFAULT current_timestamp() COMMENT 'Campo creado_en en tabla recuperacion_pass',
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_token` (`token`),
  KEY `idx_email` (`email`),
  KEY `idx_expiracion` (`expiracion`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recuperacion_pass`
--

LOCK TABLES `recuperacion_pass` WRITE;
/*!40000 ALTER TABLE `recuperacion_pass` DISABLE KEYS */;
/*!40000 ALTER TABLE `recuperacion_pass` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registro_correos`
--

DROP TABLE IF EXISTS `registro_correos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registro_correos` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del registro de envío de correo',
  `destinatario` varchar(255) NOT NULL COMMENT 'Dirección de correo electrónico del destinatario',
  `asunto` varchar(255) NOT NULL COMMENT 'Asunto del mensaje enviado',
  `metodo` varchar(50) NOT NULL DEFAULT 'resend' COMMENT 'Método de envío utilizado (resend, smtp)',
  `estado` varchar(50) NOT NULL DEFAULT 'enviado' COMMENT 'Estado del envío (enviado, fallido)',
  `fecha_envio` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Fecha y hora exacta del envío',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registro_correos`
--

LOCK TABLES `registro_correos` WRITE;
/*!40000 ALTER TABLE `registro_correos` DISABLE KEYS */;
INSERT INTO `registro_correos` VALUES (1,'amilcar199819@gmail.com','🔐 Recuperación de Contraseña - Concentrados El Gordito','resend','enviado','2026-09-20 19:57:37'),(2,'amilcar199819@gmail.com','🔐 Recuperación de Contraseña - Concentrados El Gordito','resend','enviado','2026-09-20 20:25:42');
/*!40000 ALTER TABLE `registro_correos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `id_Rol` int(11) NOT NULL COMMENT 'Identificador único del rol de usuario',
  `nombreRol` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Nombre del rol (ej: Administrador, Empleado, Cliente, Gerente General)',
  `descripcion` varchar(255) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Descripción funcional de las responsabilidades y nivel de acceso',
  `idRolPadre` int(11) DEFAULT NULL COMMENT 'ID del rol superior para herencia recursiva de permisos (FK rol)',
  `submodulos` longtext CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Arreglo JSON con los IDs de submódulos permitidos explícitamente',
  `acceso_total` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Bandera de superusuario con acceso irrestricto: 1 = Sí, 0 = No',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado del rol: 1 = Activo, 0 = Desactivado',
  PRIMARY KEY (`id_Rol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rubros`
--

DROP TABLE IF EXISTS `rubros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rubros` (
  `idRubro` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del rubro comercial o sector empresarial',
  `nombreRubro` varchar(100) NOT NULL COMMENT 'Nombre descriptivo del rubro comercial (ej: Agropecuario, Ferretería, Alimentos, Farmacia)',
  `slugRubro` varchar(100) NOT NULL COMMENT 'Slug alfanumérico amigable para filtrado y URLs del rubro',
  `icono` varchar(50) NOT NULL DEFAULT 'fas fa-store' COMMENT 'Clase de icono FontAwesome para representación visual del rubro',
  `descripcion` varchar(255) DEFAULT NULL COMMENT 'Descripción y alcance de las actividades comerciales del rubro',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado del rubro: 1 = Activo, 0 = Inactivo',
  `creado_en` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Fecha y hora de registro del rubro en el sistema',
  PRIMARY KEY (`idRubro`),
  UNIQUE KEY `uk_rubro_slug` (`slugRubro`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Catálogo de rubros comerciales y sectores empresariales de la plataforma multi-tenant';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rubros`
--

LOCK TABLES `rubros` WRITE;
/*!40000 ALTER TABLE `rubros` DISABLE KEYS */;
/*!40000 ALTER TABLE `rubros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salidas`
--

DROP TABLE IF EXISTS `salidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salidas` (
  `idSalida` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del movimiento de salida',
  `idProduccion` int(11) NOT NULL COMMENT 'Campo idProduccion en tabla salidas',
  `NombreCliente` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo NombreCliente en tabla salidas',
  `fecha` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Fecha y hora del movimiento de salida',
  `montoTotal` double DEFAULT NULL COMMENT 'Monto total valorizado de la salida en USD',
  `estadoSalida` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Campo estadoSalida en tabla salidas',
  PRIMARY KEY (`idSalida`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salidas`
--

LOCK TABLES `salidas` WRITE;
/*!40000 ALTER TABLE `salidas` DISABLE KEYS */;
/*!40000 ALTER TABLE `salidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones_activas`
--

DROP TABLE IF EXISTS `sesiones_activas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sesiones_activas` (
  `session_id` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ID de sesión nativo de PHP (PHPSESSID)',
  `idUsuario` int(11) DEFAULT NULL COMMENT 'ID del usuario autenticado (FK usuarios)',
  `username` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nombre de usuario en sesión activa',
  `id_Rol` int(11) DEFAULT NULL COMMENT 'ID del rol con el que navega el usuario (FK rol)',
  `nombre_usuario` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo nombre_usuario en tabla sesiones_activas',
  `login_time` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Campo login_time en tabla sesiones_activas',
  `last_activity` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Campo last_activity en tabla sesiones_activas',
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Campo ip_address en tabla sesiones_activas',
  `user_agent` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Navegador web y sistema operativo del usuario',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Campo activo en tabla sesiones_activas',
  PRIMARY KEY (`session_id`),
  KEY `idx_usuario` (`idUsuario`),
  KEY `idx_activo` (`activo`),
  KEY `idx_last_activity` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones_activas`
--

LOCK TABLES `sesiones_activas` WRITE;
/*!40000 ALTER TABLE `sesiones_activas` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones_activas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submodulos`
--

DROP TABLE IF EXISTS `submodulos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `submodulos` (
  `idSubmodulo` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del submódulo',
  `idModulo` int(11) NOT NULL COMMENT 'ID del módulo principal al que pertenece (FK modulos)',
  `nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre visible de la función o pantalla',
  `controlador_accion` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Ruta y parámetros del controlador (ej: controllerCliente.php?accion=nuevo)',
  `icono` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'fa-circle-notch' COMMENT 'Icono FontAwesome asociado al submódulo',
  `orden` int(11) NOT NULL DEFAULT 0 COMMENT 'Posición en el menú desplegable',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado de disponibilidad: 1 = Habilitado, 0 = Deshabilitado',
  PRIMARY KEY (`idSubmodulo`),
  KEY `idx_modulo` (`idModulo`),
  KEY `idx_controlador_sub` (`controlador_accion`),
  KEY `idx_activo_sub` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submodulos`
--

LOCK TABLES `submodulos` WRITE;
/*!40000 ALTER TABLE `submodulos` DISABLE KEYS */;
/*!40000 ALTER TABLE `submodulos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_plan_pago`
--

DROP TABLE IF EXISTS `usuario_plan_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_plan_pago` (
  `idUsuarioPlan` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único del contrato de suscripción',
  `idUsuario` int(11) NOT NULL COMMENT 'ID del usuario o comercio suscriptor (FK usuarios)',
  `idPlanPago` int(11) NOT NULL COMMENT 'ID del plan de membresía contratado (FK plan_pago)',
  `fecha_inicio` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Fecha y hora de inicio de la membresía',
  `fecha_fin` datetime DEFAULT NULL COMMENT 'Fecha y hora de vencimiento del período contratado',
  `estado` enum('activo','vencido','inactivo','cancelado') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo' COMMENT 'Estado de la suscripción: activo, vencido, inactivo o cancelado',
  `monto_pagado` decimal(10,2) DEFAULT 0.00 COMMENT 'Monto efectivamente cobrado por la membresía en USD',
  `observaciones` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Notas adicionales o referencia de transacción de Wompi',
  PRIMARY KEY (`idUsuarioPlan`),
  KEY `idx_usuario` (`idUsuario`),
  KEY `idx_plan` (`idPlanPago`),
  KEY `idx_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_plan_pago`
--

LOCK TABLES `usuario_plan_pago` WRITE;
/*!40000 ALTER TABLE `usuario_plan_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_plan_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `idUsuario` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Identificador único y autoincremental de la cuenta de usuario',
  `username` varchar(45) CHARACTER SET utf8 COLLATE utf8_spanish_ci NOT NULL COMMENT 'Nombre de usuario único o correo electrónico para iniciar sesión',
  `pass` varchar(1000) CHARACTER SET utf8 COLLATE utf8_spanish_ci DEFAULT NULL COMMENT 'Contraseña cifrada con algoritmo seguro SHA1',
  `id_Rol` int(11) NOT NULL COMMENT 'ID del rol asignado para control de permisos (FK rol)',
  `idEmpresa` int(11) NOT NULL DEFAULT 1 COMMENT 'ID de la empresa a la que pertenece el usuario (FK empresas)',
  `debe_cambiar_pass` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Bandera de seguridad para cambio obligatorio de contraseña: 1 = Obligatorio, 0 = Normal',
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Estado de la cuenta: 1 = Activa, 0 = Desactivada / Bloqueada',
  `actualizado_en` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Campo actualizado_en en tabla usuarios',
  PRIMARY KEY (`idUsuario`),
  KEY `idx_activo` (`activo`),
  KEY `idEmpresa` (`idEmpresa`)
) ENGINE=InnoDB AUTO_INCREMENT=391108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-20 22:06:50
